h1 {
	color: blue;
}

/*           Selectors.......... */
/* Tag */

li {
	color: coral;
	font-size: 30px;
	background-color: aqua;
	width: 700px;
	height: 100px;
	font-weight: 900;
	font-style: italic;
}

/* Class */

.kok-rangli-yozuv {
	color: blue;
}

/* ID */

#takrorlanmas {
	font-size: 50px;
}

/* Attribute */



.